body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
}


.siteheader {
    background-color: rgb(254, 254, 254);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid white;
}

h1 {
    color: black; /*main heading color*/
}

.emojis {
    display: grid;
    grid-template-columns: repeat(2,1fr);  /*2 columns*/
    gap: 20px;
    padding: 20px;;
    /* justify-content: center; */
    max-width: 900px;
    min-width: 400px;
    margin: 0 auto;
}

.emoji {
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    padding: 30px;
    padding-right: 40px;
    overflow: hidden;


    
}


/*
.emojis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

*/

.icon {
    font-size: 50px;
    text-align: center;
    order: -1;
}

h2 { /*Style the card title*/
    color: black;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(144, 141, 141);
    width: 100%;
    text-align: left;
}

p { 
    color: rgb(19, 19, 19);
    margin-bottom: 10px;
    text-align: left;
}


.emoji a { /**/
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    display: block;
   text-align: left;
   padding: 10px;
   border-radius: 5px;
   width: 100%;
}

