body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
}


.siteheader {
    background-color: rgb(254, 254, 254);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid white;
}


